```{=html}
<!-- attributes for item -->
<!--  freeze,
      title-block-banner,
      title,
      author,
      date,
      categories,
      image,
      path,
      image-alt,
      description,
      filename,
      file-modified,
      reading-time,
      sortableValues -->

<% let array_categories = [] %>
<% let array_tags = [] %>
<% let id_modals = [] %>

<div style="display: none;">     
    <% for (const post of items) {  %>
        <% var tags_index = post.categories.indexOf("TAGS") %>

        <!-- If -1 means there is no TAG written so go over the loop because
        the rest of the array CATEGORIES could be "categories"  -->
        <%  if (tags_index === -1) { %>
            <% tags_index = post.categories.length %>
        <% } %>

        <!--  If there is no CATEGORY written in post skip
        adding this to the array_categories -->
        <% for(var k=0; k < tags_index;  k++ ) { %>                                               
            <!-- <%= post.categories[k] %>  -->
            <%= array_categories.push(post.categories[k]) %>
        <% } %>
        

        <!-- if there is no TAG written then do not continue this for-loop  -->
        <%  if ( !(post.categories.indexOf("TAGS") === -1)) { %> 
            <!-- +1 to avoid inserting the name TAG -->
            <% for(var j=tags_index +1; j< post.categories.length;  j++ ) { %>
                <!-- <%= post.categories[j] %> -->
                <%= array_tags.push(post.categories[j]) %>
            <% } %>
        <% } %>
    <% } %>
</div>

<div class="list grid" style="column-gap: 23px; row-gap: .9rem;">
    <% for (const item of items) { %>

        <!-- To change increase num columns modify, g-col-md-6: 2columns, g-col-md-4: 3columns, g-col-md-3: 4 columns-->
        <div class="card border-1 g-col-12 g-col-sm-6 g-col-md-4 mb-2" <%=metadataAttrs(item) %>>


            <!-- Starting of MODAL -->
            <div class="modal" id="<%= item.title.replace(/[^a-zA-Z ]/g, '').replace(/\s/g, '') %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                
                <% id_modals.push(item.title.replace(/[^a-zA-Z ]/g, '').replace(/\s/g, '')) %>   
                
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><%= item.title %></h5>
                            <button type="button" class="close custom-modal-button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>


                        <div class="modal-body">
                            <div class="container">

                                <!-- Here STARTS content of MODAL -->
                                <div class="grid modal-content-grid">

                                    <!-- LEFT Content -->
                                    <div class="g-col-12 g-col-md-7 img-center">
                                        <img src="<%- item.image %>" class="img-fluid" alt="image" />
                                    </div>
                                    
                                    <!-- RIGHT Content -->
                                    <div class="g-col-12 g-col-md-5">
                                        <div class="card-body post-contents links-handler">
                                            
                                            <% if (item.description) { %>
                                                <p class="p-description">
                                                    <%= item.description %>
                                                </p>
                                            
                                            <% } %>

                                            <!-- <a  class="button small flex" href="<%- item.path %>" > -->
                                            <a  class="button small flex" href="#" style="pointer-events: none;">
                                                About
                                            </a> 
                                            
                                            <% if (item.demo) { %>
                                                <a  class="button small flex" href="<%- item.demo %>" target="_blank" rel="noreferrer">
                                                    Demo
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 1rem; height: 1rem; fill: currentcolor;"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"></rect><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"></path><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"></path></g></g></svg>
                                                </a> 
                                            <% } %>
                            
                                            <% if (item.paper) { %>
                                                <a  class="button small flex" href="<%- item.paper %>" target="_blank" rel="noreferrer">
                                                    Paper
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 1rem; height: 1rem; fill: currentcolor;"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"></rect><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"></path><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"></path></g></g></svg>
                                                </a> 
                                            <% } %>
                            
                                            <% if (item.source) { %>
                                                <a  class="button small flex" href="<%- item.source %>" target="_blank" rel="noreferrer">
                                                    Source
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 1rem; height: 1rem; fill: currentcolor;"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"></rect><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"></path><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"></path></g></g></svg>
                                                </a> 
                                            <% } %>
                                                
                                            <% var tags_index = item.categories.indexOf("TAGS") %>
                            
                                            <!-- Displays CATEGORIES -->    
                                            <div class="listing-categories" style="padding-top: 0.6em; padding-bottom: 0em;"> 
                                            
                                                <!-- Keyword TAG in frontmatter not found 
                                                    - Display the only ONE CATEGORY found --> 
                                                <% if ( tags_index == -1 ) { %>
                                                    <% for(var i=0; i < item.categories.length; i++) { %>    
                                                        <!-- <span id="<%= item.categories[i] %>"  class="listing-category <%= item.categories[i] %>" > -->
                                                        <span class="listing-category <%= item.categories[i] %>" >
                                                            <a onclick="location.href='/projects/#category=<%= item.categories[i] %>';" data-bs-dismiss="modal" style="color: inherit; font-size: 0.95em;">
                                                                <%= item.categories[i] %>
                                                            </a>   
                                                        </span>
                                                    <% } %>
                                                
                                                <!-- When Keyword TAG is found in frontmatter 
                                                    - Displays All CATEGORIES items -->
                                                <% } else{ %>
                                                    <% for(var i=0; i < tags_index; i++) { %>
                                                        <span class="listing-category <%= item.categories[i] %>" >
                                                            <!-- <a style="color: inherit; font-size: 0.95em;" href="/projects/#category=<%= item.categories[i] %>"> -->
                                                            <a onclick="location.href='/projects/#category=<%= item.categories[i] %>';" data-bs-dismiss="modal" style="color: inherit; font-size: 0.95em;">
                                                                <%= item.categories[i] %>
                                                            </a>   
                                                        </span>
                                                    <% } %>
                                                <% } %>
                                            </div> 
                            
                                            <!-- Display TAGS -->
                                            <div class="listing-categories" style="padding-top: 0em;">
                                                
                                                <!-- Displays Technology Tag + Icon -->
                                                <div id="tags" class="listing-category-inactive" style="text-transform: uppercase; padding-left: 0.1rem;" >
                                                    <!-- <a  href="/projects"> -->
                                                    <!-- <i class="fa-solid fa-tag fa-rotate-90" style="color: #6c757dc9;" ></i> Tags: -->
                                                    Tags:
                                                    <!-- </a> -->
                                                </div>
                                                                        
                                                <!-- Keyword TAG in frontmatter not found 
                                                    - If there is NO || only ONE element in Categories then show "Other" as tag --> 
                                                <% if ( tags_index == -1 ) { %>
                                                    <div id="Other" class="listing-category-inactive" >
                                                        <a onclick="location.href='/projects';" data-bs-dismiss="modal" >
                                                            Other
                                                        </a>   
                                                    </div>
                                                
                                                <!-- When Keyword TAG is found in frontmatter 
                                                    - Displays Reaiming TAGS items -->
                                                <% } else{ %>
                                                    <% for(var i=tags_index+1; i < item.categories.length; i++) { %>
                                                        
                                                        <div class="listing-category-inactive <%= item.categories[i] %>" >
                                                            <!-- Add 'Python icon' -->
                                                            <% if ( item.categories[i] === 'Python') { %>
                                                                <!-- Disable for now uncomment ONLY FIRST line below to add icon -->
                                                                <!-- <i class="fa-brands fa-python" style="color: #6c757d;"> </i> -->
                                                                <!-- {{< fa thumbs-up >}} -->
                            
                                                                <a onclick="location.href='/projects/#category=<%= item.categories[i] %>';" data-bs-dismiss="modal">
                                                                    <%= item.categories[i] %>
                                                                </a>   
                            
                                                            <% } else{ %>
                                                                <a onclick="location.href='/projects/#category=<%= item.categories[i] %>';" data-bs-dismiss="modal">
                                                                    <%= item.categories[i] %>
                                                                </a>   
                                                            <% } %>   
                                                        </div>
                                                    <% } %>
                                                <% } %>
                                            </div> 
                                        </div>

                                    </div> <!-- END RIGHT Content -->

                                </div> <!-- Here ENDS content of MODAL -->

                            </div><!-- END Container -->

                        </div> <!-- END body-modal -->

                    </div> <!-- END modal-content -->

                </div> <!-- END modal-dialog --> 

            </div> <!-- End of MODAL -->
            


            <!-- IMAGE -->
            <!-- <a href="<%- item.path %>"> -->
            <a href="#" data-bs-toggle="modal" data-bs-target="#<%= item.title.replace(/[^a-zA-Z ]/g, '').replace(/\s/g, '') %>">
                <div class="card-title change-title-background-color" style="text-align: center; padding-bottom: 0.4em;  padding-top: 0.4em; ">
                    <%= item.title %>
                </div>
                <img src="<%- item.image %>" alt="<%- item.description %>" class="thumbnail-image card-img" style="height: 150px;">
            </a>


            <div class="card-body post-contents">

                <!-- <a  class="button small flex" href="<%- item.path %>" > -->
                <a class="button small flex" href="#" data-bs-toggle="modal" data-bs-target="#<%= item.title.replace(/[^a-zA-Z ]/g, '').replace(/\s/g, '') %>">
                    About
                </a> 
                

                <% if (item.demo) { %>
                    <a  class="button small flex" href="<%- item.demo %>" target="_blank" rel="noreferrer">
                        Demo
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 1rem; height: 1rem; fill: currentcolor;"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"></rect><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"></path><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"></path></g></g></svg>
                    </a> 
                <% } %>

                <% if (item.paper) { %>
                    <a  class="button small flex" href="<%- item.paper %>" target="_blank" rel="noreferrer">
                        Paper
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 1rem; height: 1rem; fill: currentcolor;"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"></rect><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"></path><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"></path></g></g></svg>
                    </a> 
                <% } %>

                <% if (item.source) { %>
                    <a  class="button small flex" href="<%- item.source %>" target="_blank" rel="noreferrer">
                        Source
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="width: 1rem; height: 1rem; fill: currentcolor;"><g data-name="Layer 2"><g data-name="external-link"><rect width="24" height="24" opacity="0"></rect><path d="M20 11a1 1 0 0 0-1 1v6a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h6a1 1 0 0 0 0-2H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3v-6a1 1 0 0 0-1-1z"></path><path d="M16 5h1.58l-6.29 6.28a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0L19 6.42V8a1 1 0 0 0 1 1 1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-4a1 1 0 0 0 0 2z"></path></g></g></svg>
                        <!-- <i class="bi bi-github me-1 github-icon-projects"></i>  -->
                    </a> 
                <% } %>

                
                    
                <% var tags_index = item.categories.indexOf("TAGS") %>

                <!-- Displays Categories -->    
                <div class="listing-categories" style="padding-top: 0.6em; padding-bottom: 0em;"> 
                
                    <!-- Keyword TAG in frontmatter not found 
                        - Display the only ONE CATEGORY found --> 
                    <% if ( tags_index == -1 ) { %>
                        <% for(var i=0; i < item.categories.length; i++) { %>    
                            <!-- <span id="<%= item.categories[i] %>"  class="listing-category <%= item.categories[i] %>" > -->
                            <span class="listing-category <%= item.categories[i] %>" >
                                <a style="color: inherit; font-size: 0.95em;" href="/projects/#category=<%= item.categories[i] %>">
                                    <%= item.categories[i] %>
                                </a>   
                            </span>
                        <% } %>
                    
                    <!-- When Keyword TAG is found in frontmatter 
                         - Displays All CATEGORIES items -->
                    <% } else{ %>
                        <% for(var i=0; i < tags_index; i++) { %>
                            <span class="listing-category <%= item.categories[i] %>" >
                                <a style="color: inherit; font-size: 0.95em;" href="/projects/#category=<%= item.categories[i] %>">
                                    <%= item.categories[i] %>
                                </a>   
                            </span>
                        <% } %>
                    <% } %>
                </div> 

                <!-- Display TAGS -->
                <div class="listing-categories" style="padding-top: 0em;">
                    
                    <!-- Displays Technology Tag + Icon -->
                    <div id="tags" class="listing-category-inactive" style="text-transform: uppercase; padding-left: 0.1rem;" >
                        <!-- <a  href="/projects"> -->
                        <!-- <i class="fa-solid fa-tag fa-rotate-90 tag-icon-projects" ></i> Tags: -->
                        <!-- <i class="bi bi-archive archive-icon-projects"></i>  Tags:-->
                        Tags:
                        <!-- </a> -->
                    </div>
                                            
                    <!-- Keyword TAG in frontmatter not found 
                         - If there is NO || only ONE element in Categories then show "Other" as tag --> 
                    <% if ( tags_index == -1 ) { %>
                        <div id="Other" class="listing-category-inactive" >
                            <a  href="/projects">
                                Other
                            </a>   
                        </div>
                    
                    <!-- When Keyword TAG is found in frontmatter 
                         - Displays Reaiming TAGS items -->
                    <% } else{ %>
                        <% for(var i=tags_index+1; i < item.categories.length; i++) { %>
                            
                            <div class="listing-category-inactive <%= item.categories[i] %>" >
                                <!-- Add 'Python icon' -->
                                <% if ( item.categories[i] === 'Python') { %>
                                    <!-- Disable for now uncomment ONLY FIRST line below to add icon -->
                                    <!-- <i class="fa-brands fa-python" style="color: #6c757d;"> </i> -->
                                    <!-- {{< fa thumbs-up >}} -->

                                    <a  href="/projects/#category=<%= item.categories[i] %>">
                                        <%= item.categories[i] %>
                                    </a>   

                                <% } else{ %>
                                    <a  href="/projects/#category=<%= item.categories[i] %>">
                                        <%= item.categories[i] %>
                                    </a>   
                                <% } %>   
                            </div>
                        <% } %>
                    <% } %>
                </div> 
                
            </div>
        </div>
    <% } %>
</div>


<div style="display: none">
    <% for(var i=0; i < array_categories.length; i++) { %>   
        <p class="array_categories" > 
            <%= array_categories[i] %>
        </p>
    <% } %>

    <% for(var i=0; i < array_tags.length; i++) { %>   
        <p class="array_tags" > 
            <%= array_tags[i] %>
        </p>
    <% } %>
    
    <% for(var i=0; i < id_modals.length; i++) { %>   
        <p class="array_id_modals" > 
            <%= id_modals[i] %>
        </p>
    <% } %>

</div>


```


